.auth-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-card {
    max-width: 500px;
    min-height: 250px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 0 none;
    display: flex;
    flex-direction: column;
}

.sign {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sign-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sign-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 450px){
    .auth-card {
        max-width: 300px;
        min-height: 200px;
    }
}